{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<main class="container mx-auto py-8 h-full">
    <section id="intro" class="text-center my-20">
        <h2 class="text-4xl font-bold">Convertissez vos pages web en PDF facilement</h2>
        <p class="mt-4 text-xl">Notre outil vous permet de générer des PDF à partir d'URL ou de code HTML rapidement et simplement.</p>
        <a href="/sign-up" class="mt-6 inline-block bg-red-600 text-white px-6 py-2 rounded-full hover:bg-red-700">Commencez maintenant</a>
    </section>

    <!-- Fonctionnalités -->
    <section id="features" class="my-30">
        <h3 class="text-3xl font-bold text-center">Fonctionnalités</h3>
        <div class="flex flex-wrap justify-around mt-8">
            <div class="w-full sm:w-1/3 p-4">
                <div class="bg-white rounded-lg shadow-lg p-6">
                    <h4 class="text-xl font-bold">Conversion rapide</h4>
                    <p>Obtenez vos fichiers PDF en quelques secondes.</p>
                </div>
            </div>
            <div class="w-full sm:w-1/3 p-4">
                <div class="bg-white rounded-lg shadow-lg p-6">
                    <h4 class="text-xl font-bold">Personnalisation</h4>
                    <p>Ajoutez des en-têtes, des pieds de page et des filigranes personnalisés.</p>
                </div>
            </div>
            <div class="w-full sm:w-1/3 p-4">
                <div class="bg-white rounded-lg shadow-lg p-6">
                    <h4 class="text-xl font-bold">Support HTML/CSS</h4>
                    <p>Support complet pour les styles CSS et les scripts JavaScript.</p>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
